.App {
  align-content: center;
  height: 100%;
  padding: 1%;
}
.App-header {
  height: 25vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../assets/oilPour.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.title-div{
  padding: 0.5rem;
  color: white;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  border-radius: 2rem;
}
.header-nav{
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
}
.nav-button{
  cursor: pointer;
  text-decoration: none;
  font-size: 3.5vh;
  color: white;
  border-radius: 2rem;
  margin: 0.3rem;
  background-color:  #070101de;
}
.title {
  font-size: 2.3em;
}
.App-intro {
  font-size: large;
}
.splash{
  text-align: center;
  padding: 2% 5%;
}
.splash button{
  cursor: pointer;
  text-decoration: none;
  font-size: 3.5vh;
  color: white;
  border-radius: 2rem;
  margin: 0.3rem;
  background-color:  #070101de;
}
.about{
  text-align: center;
  padding: 2% 5%;
  font-size: 2rem;
}

.about-me{
  display: flex;
  font-size: 1.5rem;
}
.about-me p {
  padding: 1rem;
}
.about-me img{
  height: 20vh;
  width: auto;
}
.about button{
  cursor: pointer;
  text-decoration: none;
  font-size: 3.5vh;
  color: white;
  border-radius: 2rem;
  margin: 0.3rem;
  background-color:  #070101de;
}

